<div class="studentPanel">
    <aside class="menu">
        <p class="menu-label">
            User Name
        </p>
        <button class="button is-primary" id="logout">Log Out</button>
        <ul class="menu-list">
          
            {{#if teacher}}
                {{#each classes}}
                <li data-id={{id}}><button class="button classBtn is-primary">{{name}}</button></li>
                {{/each}}
            {{/if}}
            {{!-- each loop for students --}}
        
           
                {{#each students}}
                    <li ><button class="button studentBtn is-primary" data-id="{{id}}">{{first_name}} {{last_name}}, {{grade}}</button></li>
                {{/each}}

        </ul>
    </aside>
</div>