<div class="studentPanel">
    <aside class="menu">
        <p class="menu-label">
            User Name
        </p>
        <ul class="menu-list">
            <p>test</p>
            {{#if teacher}}
                {{#each classes}}
                <li data-id={{id}}>{{name}}</li>
                {{/each}}
            {{/if}}
            {{!-- each loop for students --}}
        
        {{!-- Can these be styled as buttons, if not already. And they need a studentBtn class that can be used for click events --}}
            {{#if tutor}}
                {{#each students}}
                    <li data-id={{id}}>{{first_name}} {{last_name}}, {{grade}}</li>
                {{/each}}
            {{/if}}
        </ul>
    </aside>
</div>