<div class="studentPanel">
    <aside class="menu">
        <p class="menu-label">
            User Name
        </p>
        <button class="button is-primary" id="logout">Log Out</button>
        <ul class="menu-list">
          
            
                {{#each classroom}}
                <li data-id={{id}}><button class="button classBtn is-primary">{{name}}</button></li>
                {{/each}}
            {{!-- each loop for students --}}
        
           
                {{#each student}}
                    <li data-id={{id}}><button class="button studentBtn is-primary">{{first_name}} {{last_name}}, {{grade}}</button></li>
                {{/each}}

        </ul>
    </aside>
</div>