{{!-- Insert navbar partial --}}
{{> navbar}}
{{!-- Insert tabs partial --}}
<div class="column">
  {{#if tutor}}
    {{> tutortabs}}
  {{else}}
    {{> teachertabs}}
  {{/if}}
<div class="columns">
<div class="column is-1"> 
    {{!-- Jeff - add #student Code input and label to accept student-code from tutor --}}
            <a class="button is-primary" id="addStudent" href="">Add Student</a>
</div>
{{!-- for each unread Message --}}
{{#each messages}}
    {{#unless tutor_read}}
    {{!-- Builds a message element --}}
        <article class="message is-dark {{source}}">
            <div class="message-header">
                <p>{{studentName}} {{date}}</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            {{!-- Message text --}}
            <div class="message-body">
                {{text}}
            </div>
        </article>
    </div>
    {{/unless}}
{{/each}}
</div>
