{{!-- Insert navbar partial --}}
{{> tutorNavbar}}
{{!-- Insert tabs partial --}}
<div class="column">
{{> tutortabs}}

<div><h1>Unread Messages</h1></div>
<div class="columns">
<div class="column is-1"> 
    {{!-- Jeff - add #student Code input and label to accept student-code from tutor --}}
            <a class="button is-primary" id="addStudentBtn" href="">Add Student</a>
</div>
{{!-- for each unread Message --}}
{{!-- Jeff - only display a number (1 to 5), message, author, time, and maybe an icon that can be clicked for each message. On click, modal populates with message body. 
On close, that message is changed to read --}}
{{#each unreadMsg}}
 
    
    {{!-- Builds a message element --}}
        <article class="message is-dark {{author}}">
            <div class="message-header">
                <div>Student: {{Student.first_name}}  {{Student.last_name}}</div>

                <button class="delete" aria-label="delete"></button>
            </div>
            {{!-- Message text --}}
            <div class="message-body">
                <p>Message Sent By: {{author}}</p>

                <p> Sent at: {{createdAt}}</p>
                {{text}}
            </div>
        </article>

    
{{/each}}
</div>
</div>
<div class="modal" id="newStudent">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add a Student</p>
        <button class="delete" id="modalClose" area-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Enter the Student's code</label>
                <div class="control">
                    <input class="input is-info" type="text" placeholder="Student Code" id="studentCode">
                    <input class="button is-info" type="submit" value="Submit" id="addStudent">
                </div>
            </div>
        </section>
    </div>
</div>
